:root {
  --primary-color: #153c32;
  --secondary-color: #a1d2d9;

  --accent-color: #0b2a4e;
  --content-box-color: rgb(255, 255, 255, 0.1);
  --heading-font-family: "Source Serif Pro", serif;
  --default-font-famiy: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(to top, #153c32 0%, #80d0c7 100%);
  margin-top: 80px;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 15px 10px;
  font-size: 48px;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  color: #fff;
  font-size: 36px;
}

.home-content {
  font-family: var(--default-font-famiy);
  font-weight: 400;
  color: var(--secondary-color);
  font-size: 24px;
  margin: 10px 10px 5px;
}
.page-content {
  font-family: var(--default-font-famiy);
  font-weight: 400;
  color: var(--accent-color);
  font-size: 24px;
  margin: 10px 80px 5px;
}

.body-content {
  font-family: var(--default-font-famiy);
  font-weight: 400;
  color: #fff;
  font-size: 18px;
}

.navbar {
  background: linear-gradient(to top, #70b5ad 0%, #02626b 100%) !important;
  font-family: var(--default-font-famiy);
  font-weight: 400;
}

.navbar-brand {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 2px #047669;
}

.navbar-brand:hover {
  color: var(--accent-color);
}
.nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:visited {
  color: none;
}

.dropdown-menu {
  border: none;
}
.dropdown-item {
  color: var(--accent-color);
}

.dropdown-item:active {
  background: #fff;
  color: var(--accent-color);
}
footer {
  background: var(--secondary-color);
  color: var(--accent-color);
  padding: 1px;
  font-size: 18px;
}
.footer-icons {
  font-size: 24px;
}

.content-buttons,
.mobile-content-buttons,
.contact-button {
  background: var(--secondary-color);
  color: var(--accent-color);
  font-family: var(--default-font-famiy);
  font-weight: 400;
  border: none;
}

.content-buttons:hover,
.mobile-content-buttons:hover,
.contact-button:hover {
  background: var(--accent-color);
  border: none;
  color: #fff;
}

.content-box {
  background-color: var(--content-box-color);
  border-radius: 10px;
  padding: 5px 5px 20px;
}

.animal-categories {
  margin: 30px 0px;
}

.contact-section {
  margin: 40px 20px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
    margin: 12px 5px 0px;
    font-weight: 400;
  }

  h2 {
    font-size: 28px;
  }
  .navbar-brand {
    font-size: 24px;
    font-weight: 400;
  }
  body {
    margin-top: 45px;
  }

  .body-content {
    text-align: center;
    font-size: 14px;
  }

  .page-content {
    font-size: 18px;
    margin: 0px 10px;
    padding: 8px 16px;
  }
  .animal-categories {
    margin: 20px 0px;
  }
  footer {
    font-size: 14px;
  }
  .footer-icons {
    font-size: 18px;
  }
}
@media (max-width: 280px) {
  body {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .content-box {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .body-content {
    text-align: center;
  }
}
